      /*Valores por defecto de las cajas de html*/
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }  
      
      /*Centrado del body*/
      body {
        margin: 20px 250px;
      }
    
      /*Se crea un contenedor flex (.container --> div) en el cual se ubican desde html la imagen logo y la barra de navegacion dentro de el */
      /*.container {
        display: flex;
        
      }*/

      /*Se crea un contenedor grid (.container --> div) en el cual se ubican desde html la imagen logo y la barra de navegacion dentro de el */
      .container {
        display: grid;
        grid-template-columns: 450px 1100px; /*Conf de tamaño de columna en px*/
        grid-template-rows: 40px 1fr;             /*Conf de tamaño de columna en fr*/
        position: fixed;
      }
      
      /*Se configura el estilo del titulo y se ubica en la ubicacion 1/2 1/2 del grid*/
      .container #titulo {
        margin: 100 px;
        font-family: sans-serif;
        color: gray;
        font-size: 130%;
        grid-column: 1/2;
        grid-row: 1/2;
      }

      /*Se configura el estilo del titulo y se ubica en la ubicacion 2/2 1/1 del grid*/
      .container .call {
        grid-column: 2/2;
        grid-row: 1/2;
        position: relative; /*Posicion absoluta dentro del grid asignado*/
               /*Desplazamiento desde la derecha en 580px */
      
      }
      /*Ubicacion imagen en la grilla - columna 1 fila 2*/
      .container .logo {
        grid-row: 2/2;
      }

      /*Ubicacion barra de navegacion en la grilla - columna 2 fila 2*/
      .container .nav {
        grid-row: 2/2;
      }


      /*!!!!!!!!!!! BARA DE NAVEGACION !!!!!!!!!!*/
      /* Este style bloquea la visualizacion  de las listas ul descendientes de nav */
      .container .nav ul ul {
        
        display: none;
      }
      /* Este  Style despliega las opciones cuando se paran el cursor sobre un elemento de nav*/
      /* Solo aplica para los elementos descendientes los lu que son hijos directos de li:hover que descienden de nav y li */
      .container .nav ul li:hover > ul {
        display: block;
      }
      .container .nav ul:after {
        content: "";
        clear: both;
        display: block;
      }

      /*Organiza todos los elementos descendientes de nav de maneja horizontal*/
      .container .nav ul li {
        float: left;
        position: relative;
        list-style-type: none;
      }

      /*Genera las cajas y los colores de las mismas de los elementos de la barra de navegacion*/
      .container .nav ul li a {
        display: block;
        padding: 20px 30px;
        color: #16763c;
        text-decoration: none;
        background-color: #ffffff;
        font-family: sans-serif;
      }

      /*Se seleccionan los elementos de la lista de la barra de navegacion para que cambien de color
      cuando el cursor se ponga sobre ellos*/
      .container .nav ul li>a:hover {
        font-size: large;
        font-weight: 750;
        
      }

      /* Poner de color blanco las etiquetas <a> hijas de ul y li que esten tengan el cursor encima*/
      .container .nav ul li:hover  a {
        color: #16763c; /*Color letra de las listas <a>*/ 
        
      }

      /* Poner de color blanco las etiquetas <a> hijas directas de ul y li que esten tengan el cursor encima*/
      .container .nav ul li:hover > a {
        color: #16763c; /*Color letra de las listas <a>*/ 
        text-decoration: underline;
      }

      /*Organiza el orden de las cajas de los elementos desplegables al visualizarse*/
      .container .nav ul ul {
        background: #16763c;
        padding: 0;
        position: absolute;
        top: 100%;
      }

      /*Organiza la distribucion de los elementos de la lista desplegable*/
      .container .nav ul ul li {
        float: none;
        position: relative;
      }

      .container .nav ul ul li a {
        padding: 15px 10px;
        color: #ffffff;
        text-transform: uppercase;
        font-weight: 200;
      }

      /*Cambia de color el fondo de las cajas de los elementos pertenecientes a listas desplegables al poner el cursor*/
      .container .nav ul ul li a:hover {
        background: #ffffff;
      }
      /*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/